.content_kino_news{
    background-color: black;
}
.container_kino_news_con{
    max-width: 1550px;
    margin:  0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.name_blog_news{
    color: white;
    margin: 0;
    padding-bottom:15px ;
    @media (max-width: 800px) {
        display: flex;
        justify-content: center;
    };

}
.blocks_news_kino{
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };
    @media (min-width: 1020px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.kino_news_block_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kino_news_block_content img{
    border: 3px solid #FF9243;
    @media (min-width: 0px) {
        width: 300px;
        height: 150px;
        border-radius: 25px;
    };
    @media (min-width: 1020px) {
        width: 450px;
        height: 250px;
        border-radius: 50px;
    }
}
.kino_news_block_content{
    text-decoration: none;
    list-style-type: none;
}
.kino_news_block_content p{
    text-decoration: none;
    color: white;
    list-style-type: none;
    margin: 0;
    @media (min-width: 200px) {
        font-size:14px ;
    };
    @media (min-width: 1020px) {
        font-size:26px ;
    }
}